<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Benchmarks Node Companion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Realtime Benchmarks Node Companion</h1>
    <p>Check the logs for cron output if I'm not working. I should be accessing the realtime benchmarks app every 5 minutes on the /js_latencies route.</p>
  </body>
</html>